@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    margin: 0;
}

a {
    color: rgb(0, 100, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}
